<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<mat-toolbar color="primary">
    <button mat-fab color="primary" (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
    <span><h1>Hey Saksham</h1></span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)] = 'opened'>
        
        <div>
        <button mat-raised-button color="warn" (click)="toggleHeroes()">Table</button>
        </div>
        <div>
        <button mat-raised-button color="warn" (click)="toggleChart()">Chart</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        

<app-heroes *ngIf="isHero"></app-heroes>
<app-simplechart *ngIf="isChart"></app-simplechart>

</mat-sidenav-content>
</mat-sidenav-container>
<footer>
    <h1>Made in Angular</h1>
</footer>