<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<button (click)="onAdd()" class="btn btn-primary">New</button>

<h2>Table</h2>
<table class="mat-table">
<thead class="mat-header-row">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Date</th>
    <th>Gender</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let hero of heroes"
    class = "mat-row"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <td class="mat-cell">{{hero.name}}</td>
    <td class="mat-cell">{{hero.age}}</td>
    <td class="mat-cell">{{hero.date}}</td>
    <td class="mat-cell">{{hero.gender}}</td>
    <td class="mat-cell"><button (click)="onDelete(selectedHero)" class="btn btn-danger">X</button></td>
</tr>
</tbody>
</table>